{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'round.display.newRound' |trans }}{% endblock %}

{% block body %}

    <h2 class="card-header">{{ 'round.display.newRound' |trans }}</h2>
    <div class="card-body">
        {{ include('round/_form.html.twig') }}
    </div>
    <div class="card-footer">
        <a href="{{ path('league_show' , {'id':league.id}) }}">
            <button class="btn btn-primary btn-block">{{ 'global.actions.backToList'|trans }}</button>
        </a>
    </div>
{% endblock %}
