{% extends 'base_admin.html.twig' %}

{% block title %}Round{% endblock %}

{% block body %}

    <div class="card-header">
        <h3 class="font-light"><span class="text-primary">{{ round.league.name }}</span> / <span class="font-bold text-secondary">{{ round.name }}</span></h3>
        <div class="row ">
            <a href="{{ path('game_new') }}" class="btn btn-primary">Dodaj mecz</a>
        </div>
    </div>



    <div class="card-body">
        <ul class="nav nav-tabs md-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#upcomingmatches" role="tab">{{ 'game.display.upcomingGames'|trans }}</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#livematches" role="tab">{{ 'game.display.liveGames'|trans }}</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#finishedmatches" role="tab">{{ 'game.display.finishedGames'|trans }}</a>
                <div class="slide"></div>
            </li>
        </ul>

        <div class="tab-content border">

            <div class="tab-pane active" id="upcomingmatches" role="tabpanel">

            </div>

            <div class="tab-pane" id="livematches" role="tabpanel">

            </div>

            <div class="tab-pane" id="finishedmatches" role="tabpanel">

            </div>

        </div>

    </div>

{% endblock %}
