{% extends 'base_user.html.twig' %}
{% block body %}
    <a href="{{ path('index_league_show' , {'id':club.league.id}) }}">powrot</a>
    naglowek pilakrze z danego klub<br/>
    {% for footballer in footballers %}
        <img height="50" width="50" src="{{ vich_uploader_asset(footballer, 'imageFile') }}">
        {{ footballer.surname }}
        {{ footballer.name }}
        {{ footballer.birthdate |date('Y-m-d') }}
        {{ footballer.country }}
        <a href="{{ path('index_footballer_show' , {'id':footballer.id , 'club':club.id}) }}">szczegoly</a>
        <br/>
    {% endfor %}
{% endblock %}