{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'task.display.newTask' |trans }}{% endblock %}

{% block body %}
    <div class="card-header">
        <h2>{{ 'task.display.editTask' |trans }}</h2>
    </div>
    <div class="card-body">
        {{ include('task/_form.html.twig') }}
    </div>
    <div class="card-footer">
        <a href="{{ path('task_index') }}">
            <button class="btn btn-primary btn-block">{{ 'global.backToList'|trans }}</button>
        </a>
    </div>
{% endblock %}
