
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{#{{ form_widget(form) }}#}
{{ form_row(form.username) }}
{{ form_row(form.plainPassword) }}
{{ form_row(form.email) }}
<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
