{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'game.display.editGame' |trans }}{% endblock %}

{% block body %}
    <h1>{{ 'game.display.editGame' |trans }}</h1>

    {{ include('game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('game_panel' , {'id' : game.id , 'game' : game}) }}" class="btn btn-danger m-1">{{ 'global.backToList' |trans }}</a>
{% endblock %}
