{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'game.display.editGame' |trans }}{% endblock %}

{% block body %}
    <div class="card-header">
        <h1>{{ 'game.display.editGame' |trans }}</h1>
    </div>

    <div class="card-body">
        {{ include('game/_form.html.twig') }}
    </div>

    <div class="card-footer">
        <a href="{{ path('admin_panel') }}" class="btn btn-danger m-1">{{ 'global.backToList' |trans }}</a>
    </div>
{% endblock %}
