{% extends 'base_admin.html.twig' %}

{% block title %}Mecze{% endblock %}

{% block body %}
    <div class="card-header">
        <h1>Mecze</h1>
    </div>

    <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>GameDateTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.gameDateTime ? game.gameDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="card-footer">
        <a href="{{ path('game_new') }}">Dodaj mecz</a>
    </div>
{% endblock %}
