{% extends 'base_admin.html.twig' %}

{% block title %}Zarządzanie składami{% endblock %}

{% block templateCss %}
    <style>
        .hidden {
            display: none;
        }

        tr.playerfield.first-squad > td {
            /*border: dashed 3px #5969ff !important;*/
        }

        tr.playerfield.first-squad:last-child  > td {
            border: dashed 3px #5969ff !important;
        }

        tr.playerfield.first-squad > td.position-name-field {
            color: #5969ff !important;
            font-weight: bold;
        }

        tr.playerfield.subs > td {
            /*border: dashed 3px #ff407b !important;*/
        }

        tr.playerfield.subs > td.position-name-field {
            color: #ff407b !important;
            font-weight: bold;
        }


    </style>
{% endblock %}

{% block body %}

    <div class="card-header">
        <h3><span class="text-primary">Zarządzanie składami</span> / <span
                    class="text-secondary">{{ game.homeTeam.club.name }} - {{ game.awayTeam.club.name }}</span></h3>
        <div class="font-italic">{{ game.gameDateTime|date() }}, {{ game.round.league.name }} ({{ game.round.name }})
        </div>
    </div>

    <div class="card-body">

        {{ form_start(form) }}

        <div class="row">

            <div class="col-md-5">
                <div class="my-2 py-2 border-bottom">
                    <div class="hidden"><label>Klub:</label>{{ form_widget(form.homeTeam.club) }}</div>
                    <h2 class="text-center">{{ game.homeTeam.club.name }}</h2>
                    <div class="my-1"><label>Formacja:</label>{{ form_widget(form.homeTeam.formation) }}</div>
                </div>
                <table class="table table-bordered" id="squad-table-home">
                    <thead>
                    <tr>
                        <th>Pozycja</th>
                        <th>Kapitan</th>
                        <th>Numer</th>
                        <th>Gracz</th>
                    </tr>
                    </thead>
                    {% for sm in form.homeTeam.gameTeamSquads %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        <tr class="border-bottom {{ (counter <= 11 ) ? 'playerfield first-squad' : 'playerfield subs' }}">
                            <td class="position-name-field"></td>
                            <td class="hidden">{{ form_widget(sm.isReserve) }}</td>
                            <td class="">
                                <div class="{% if counter > 11 %}hidden{% endif %}">{{ form_widget(sm.isCaptain) }}</td>
                            <td class=""> {{ form_widget(sm.number) }}</td>
                            <td class=home-td">{{ form_widget(sm.footballer, { 'attr': { 'class': 'select-sm-h'}}) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5">
                <div class="my-2 py-2 border-bottom">
                    <div class="hidden"><label>Klub:</label>{{ form_widget(form.awayTeam.club) }}</div>
                    <h2 class="text-center">{{ game.awayTeam.club.name }}</h2>
                    <div class="my-1"><label>Formacja:</label>{{ form_widget(form.awayTeam.formation) }}</div>
                </div>
                <table class="table table-bordered" id="squad-table-away">
                    <thead>
                    <tr>
                        <th>Pozycja</th>
                        <th>Kapitan</th>
                        <th>Numer</th>
                        <th>Gracz</th>
                    </tr>
                    </thead>
                    {% for sm in form.awayTeam.gameTeamSquads %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        <tr class="border-bottom {{ (counter <= 11 ) ? 'playerfield first-squad' : 'playerfield subs' }}">
                            <td class="position-name-field"></td>
                            <td class="hidden">{{ form_widget(sm.isReserve) }}</td>
                            <td class="">
                                <div class="{% if counter > 11 %}hidden{% endif %}">{{ form_widget(sm.isCaptain) }}</td>
                            <td class=""> {{ form_widget(sm.number) }}</td>
                            <td class="away-td">{{ form_widget(sm.footballer, { 'attr': { 'class': 'select-sm-a'} }) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-1"></div>


        </div>


        <div class="hidden">
            {{ form_widget(form) }}
        </div>


        <div class="col-sm-12 m-2">
        <input type="submit" value="Zapisz składy" class="btn btn-primary">
        </div>

        {{ form_end(form) }}

    </div>

    <script>
        let homeFormationSelect = document.getElementById("game_manage_squads_homeTeam_formation");
        let awayFormationSelect = document.getElementById("game_manage_squads_awayTeam_formation");


        //Select events
        homeFormationSelect.addEventListener('change', function () {
            formationChangeHandle(homeFormationSelect, document.getElementById('squad-table-home'))
        })

        awayFormationSelect.addEventListener('change', function () {
            formationChangeHandle(awayFormationSelect, document.getElementById('squad-table-away'))
        })

        function formationChangeHandle(select, table) {

            let formation = select.options[select.selectedIndex].text;
            formation = formation.split("-");
            console.log(formation);

            let positionFields = table.getElementsByClassName("position-name-field");


            let gkCount = 1;
            let defCount = Number.parseInt(formation[0]);
            let midCount = 0;
            for (let i = 1; i < formation.length - 1; i++) midCount += Number.parseInt(formation[i]);
            let attCount = Number.parseInt(formation[formation.length - 1]);


            //GK
            positionFields[0].innerText = "Bramkarz";

            //DEF
            for (let i = 0; i < defCount; i++) {
                positionFields[i + 1].innerText = "Obrońca";
            }

            //MID
            for (let i = 0; i < midCount; i++) {
                positionFields[i + 1 + defCount].innerText = "Pomocnik";
            }

            //ATT
            for (let i = 0; i < attCount; i++) {
                positionFields[i + 1 + defCount + midCount].innerText = "Napastnik";
            }

            //SUB
            for (let i = 0; i < 7; i++) {
                positionFields[i + 11].innerText = "Rezerwowy";
            }

        }
    </script>

    <script>

        formationChangeHandle(homeFormationSelect, document.getElementById('squad-table-home'));
        formationChangeHandle(awayFormationSelect, document.getElementById('squad-table-away'));

    </script>


{% endblock %}
