{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'game.display.newGame' |trans }}{% endblock %}

{% block body %}
    <div class="card-header">
        <h1>{{ 'game.display.newGame' |trans }}</h1>
    </div>

    <div class="card-body">
        {{ include('game/_form.html.twig') }}
    </div>

    <div class="card-footer">
        <a href="{{ path('round_show' , {'id' : roundId , 'round' : round}) }}" class="btn btn-danger m-1">{{ 'global.backToList' |trans }}</a>
    </div>
{% endblock %}
