{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'eventsType.display.edit' |trans }}{% endblock %}

{% block body %}

    <h3 class="card-header">{{ 'eventsType.display.edit' |trans }}</h3>

    <div class="card-body">{{ include('dictionary/events_type/_form.html.twig', {'button_label': 'global.actions.edit'}) }}</div>

    <div class="card-footer"><a href="{{ path('admin_dictionary') }}">
            <button class="btn btn-primary btn-block">{{ 'global.backToList'|trans }}</button>
        </a></div>


{% endblock %}
