{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'eventsType.display.newEventType'|trans }}{% endblock %}

{% block body %}

    <h3 class="card-header">
        {{ 'eventsType.display.newEventType'|trans }}
    </h3>
    <div class="card-body">
        {{ include('dictionary/events_type/_form.html.twig') }}
    </div>

    <div class="card-footer">
        <a href="{{ path('admin_dictionary') }}">
            <button class="btn btn-primary btn-block">{{ 'global.actions.backToList'|trans }}</button>
        </a>
    </div>

{% endblock %}
