{% extends 'base.html.twig' %}

{% block title %}eventsType{% endblock %}

{% block body %}
    <h1>eventsType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ events_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ events_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dictionary_events_type_index') }}">back to list</a>

    <a href="{{ path('dictionary_events_type_edit', {'id': events_type.id}) }}">edit</a>

    {{ include('dictionary_events_type/_delete_form.html.twig') }}
{% endblock %}
