{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'league.display.editLeague' |trans }}{% endblock %}

{% block body %}
    <div class="card-header">
        <h3 class="card-title">{{ 'league.display.editLeague'|trans }}</h3>
    </div>
    <div class="card-body">
        {{ include('league/_form.html.twig') }}
    </div>
    <div class="card-footer">
        <a href="{{ path('league_index') }}">
            <button class="btn btn-primary">{{ 'global.actions.backToList'|trans }}</button>
        </a>
    </div>
{% endblock %}
