{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'league.display.leagueList' |trans }}{% endblock %}

{% block body %}
    <h3 class="card-header">{{ 'league.display.leagueList' |trans }}</h3>
    <div class="p-2">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('league_new') }}" class="btn btn-success"><i
                    class="icofont icofont-user-alt-3"></i>{{ 'global.add'|trans }}</a>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'league.fields.name' |trans }}</th>
                <th>{{ 'league.fields.country' |trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for league in leagues %}
                <tr>
                    <td>{{ league.name }}</td>
                    <td>{{ league.country }}</td>
                    <td>
                        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{ 'global.actions.actions'|trans }}</button>
                        <div class="dropdown-menu">
                            <a href="{{ path('league_edit' , {'id':league.id}) }}" class="dropdown-item">{{ 'global.actions.edit'|trans }}</a>
                            <a href="{{ path('league_show' , {'id':league.id}) }}" class="dropdown-item">{{ 'global.actions.show'|trans }}</a>
                            {{ include('league/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
