{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ 'league.display.information' |trans }}
{% endblock %}

{% block body %}


    <div class="card-header pills-small">
        <h3>{{ 'league.display.league'|trans }}<span style="font-weight: 100">
                -
                {{ league.name }}</span>
        </h3>
        <ul class="nav nav-pills card-header-pills nav-fill" id="myTab5" role="tablist">
            <li class="nav-item">
                <a aria-controls="clubs" aria-selected="true" class="nav-link active border-left-0" data-toggle="tab" href="#clubs" id="clubs-tab" role="tab">
                    {{ 'league.display.clubs' |trans }}
                </a>
            </li>
            <li class="nav-item">
                <a aria-controls="rounds" aria-selected="false" class="nav-link border-left-0" data-toggle="tab" href="#rounds" id="rounds-tab" role="tab">
                    {{ 'league.display.round' |trans }}
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">

        {# ========= Tabs ========= #}


        {# ========= Contents ========= #}
            <div class="tab-content" id="myTabContent5"> <div aria-labelledby="clubs-tab" class="tab-pane fade show active" id="clubs" role="tabpanel">
                {{ render(controller('App\\Controller\\ClubController::index' , {'league': league.id})) }}
            </div>
            <div aria-labelledby="rounds-tab" class="tab-pane fade show" id="rounds" role="tabpanel">
                {{ render(controller('App\\Controller\\RoundController::index' , {'league': league.id})) }}
            </div>
        </div>
    </div>


{% endblock %}
