{% extends 'base.html.twig' %}

{% block title %}{{ 'league.display.information' |trans }}{% endblock %}

{% block body %}
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>{{ 'league.display.league'|trans }} {{ league.name }}</h2>
    <ul class="nav nav-tabs md-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#clubs" role="tab">{{ 'league.display.clubs' |trans }}</a>
            <div class="slide"></div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#round" role="tab">{{ 'league.display.round' |trans }}</a>
            <div class="slide"></div>
        </li>
    </ul>
            </div>
        </div>
    </div>
</div>
    <div class="tab-content card-block">
        <div class="tab-pane active" id="clubs" role="tabpanel">
            {{ render(controller('App\\Controller\\ClubController::index' , {'league': league.id})) }}
        </div>
        <div class="tab-pane" id="round" role="tabpanel">
            {{ render(controller('App\\Controller\\RoundController::index' , {'league': league.id})) }}
        </div>
    </div>
{% endblock %}
