{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'league.display.information' |trans }}{% endblock %}

{% block body %}


    <div class="card-header pills-regular">
        <h3>{{ 'league.display.league'|trans }}<span style="font-weight: 100"> - {{ league.name }}</span></h3>
        <ul class="nav nav-pills card-header-pills nav-fill" id="myTab5" role="tablist">
            <li class="nav-item">
                <a class="nav-link active border-left-0" id="clubs-tab" data-toggle="tab" href="#clubs" role="tab" aria-controls="clubs" aria-selected="true">
                    {{ 'league.display.clubs' |trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-left-0" id="rounds-tab" data-toggle="tab" href="#rounds" role="tab" aria-controls="rounds" aria-selected="false">
                    {{ 'league.display.round' |trans }}
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        
        {# ========= Tabs ========= #}


        {# ========= Contents ========= #}
        <div class="tab-content" id="myTabContent5">
            <div class="tab-pane fade show active" id="clubs" role="tabpanel" aria-labelledby="clubs-tab">
                {{ render(controller('App\\Controller\\ClubController::index' , {'league': league.id})) }}
            </div>
            <div class="tab-pane fade show" id="rounds" role="tabpanel" aria-labelledby="rounds-tab">
                {{ render(controller('App\\Controller\\RoundController::index' , {'league': league.id})) }}
            </div>
        </div>
    </div>



{% endblock %}
