<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a href=" {{  path('index') }}">{{ 'index.display.homepage' |trans }}</a>
        <div class="btn-group">
            <button type="button" data-toggle="dropdown"
                    class="">{{ 'index.display.league' |trans }}</button>
            <div class="dropdown-menu">
                {% for league in leagues %}
                    <a href="{{ path('index_league_show' , {'id':league.id}) }}"
                       class="dropdown-item">{{ league.name }}</a>
                {% else %}
                {% endfor %}
            </div>
        </div>

        <a href="{{ path('liveGames') }}">{{ 'index.display.liveMatches' |trans }}</a>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            {% if app.user %}
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item dropdown nav-user">
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                        {#<img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle">#}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            <h5 class="mb-0 text-white nav-user-name">{{ app.user.username }}</h5>
                        </div>
                        <!-- w tym linku będą komentarze danego uzytkownika -->
                        <a class="dropdown-item" href="./logout"><i class="fas fa-user mr-2"></i>{{ 'global.actions.logout' |trans }}</a>
                    </div>
                </li>
            </ul>
            {% else %}
                <a class="" href="./login">{{ 'global.actions.login' |trans }}</a>
            {% endif %}
        </div>
    </nav>
</div>