{% extends 'base_admin.html.twig' %}

{% block body %}
                        <div class="card-header">
                            <h3>{{ 'club.display.club' |trans }}</h3>
                            <p>
                            <a href="{{ path('club_new' , {'league':league}) }}">
                                <button class="btn btn-success btn-block"><i class="icofont icofont-user-alt-3"></i>{{ 'global.add'|trans }}</button></a>
                            </p>
                        </div>
                        
                        <div class="card-body">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>{{ 'club.fields.name' |trans }}</th>
                                        <th>{{ 'club.fields.city' |trans }}</th>
                                        <th>{{ 'club.fields.stadium' |trans }}</th>
                                        <th>{{ 'club.fields.logo' |trans }}</th>
                                        <th>{{ 'global.actions.global' |trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for club in clubs %}
                                    <tr>
                                        <td>{{ club.name }}</td>
                                        <td>{{ club.city }}</td>
                                        <td>{{ club.stadium }}</td>
                                        <td>
                                            <img height="50" width="50" src="{{ vich_uploader_asset(club, 'imageFile') }}">
                                        </td>
                                        <td>
                                            <div class="btn-group dropdown-split-inverse">
                                                <button type="button" class="btn btn-inverse dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">{{ 'global.actions.actions'|trans }}</span>
                                                    {{ 'global.action' |trans}}
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item waves-effect waves-light" href="{{ path('club_edit', {'id': club.id,'league':league}) }}">
                                                        <button class="btn btn-primary">{{ 'global.actions.edit'|trans }}</button>
                                                    </a>
                                                    <a class="dropdown-item waves-effect waves-light">{{ include('club/_delete_form.html.twig') }}</a>
                                                    <a class="dropdown-item waves-effect waves-light" href="{{ path('club_show', {'id': club.id,'league':league}) }}">
                                                        <button class="btn btn-info">{{ 'global.actions.show'|trans }}</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">{{ 'global.noRecords'|trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
{% endblock %}
