{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    <h1>Club</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ club.name }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ club.city }}</td>
            </tr>
            <tr>
                <th>Stadium</th>
                <td>{{ club.stadium }}</td>
            </tr>
            <tr>
                <th>ChampionsLeagueWins</th>
                <td>{{ club.championsLeagueWins }}</td>
            </tr>
            <tr>
                <th>CountryCupWins</th>
                <td>{{ club.countryCupWins }}</td>
            </tr>
            <tr>
                <th>LeagueWins</th>
                <td>{{ club.leagueWins }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('club_index') }}">back to list</a>

    <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a>

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
