{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ 'position.display.edit' |trans}}
{% endblock %}

{% block body %}
    <div class="card-header">
        <h2>{{ 'position.display.edit' |trans}}</h2>
    </div>
    <div class="card-body">
        {{ include('dictionary/position/_form.html.twig', {'button_label': 'global.actions.edit' |trans}) }}
    </div>
    <div class="card-footer">
        <a href="{{ path('admin_dictionary') }}">
            <button class="btn btn-primary">{{ 'global.backToList'|trans }}</button>
        </a>
    </div>
{% endblock %}
