{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'user.display.editUser' |trans }}{% endblock %}

{% block body %}
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>{{ 'user.display.editUser' |trans }}</h2>
                        </div>
                        {{ include('user/_form.html.twig', {'button_label': 'global.actions.edit'}) }}
                        <p>
                            <a href="{{ path('user_index') }}"><button class="btn btn-primary btn-block">{{ 'global.backToList'|trans }}</button></a>
                        </p>
                        <div id="isChecked" data-is-checked="{{ check|json_encode }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById('user_isAdmin').checked = true;
        })
    </script>
{% endblock %}
