{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ 'user.display.editUser' |trans }}
{% endblock %}

{% block body %}
    <div class="card-header">
        <h2>{{ 'user.display.editUser' |trans }}</h2>
    </div>
    <div class="card-body">{{ include('user/_form.html.twig', {'button_label': 'global.actions.edit'}) }}</div>
    <div class="card-footer">
        <a href="{{ path('user_index') }}">
            <button class="btn btn-primary">{{ 'global.backToList'|trans }}</button>
        </a>
    </div>

{% endblock %}
{% block customJavaScript %}
    <script>
        $(document).ready(function () {
            let role = '{{ user.roles[0] }}';
            let select = document.getElementById('edit_user_permissions');
            let opts = document.getElementById('edit_user_permissions').getElementsByTagName('option');
            console.log(opts);
            for (let i = 0; opts.length; i++) {
                if (opts[i].value == role) {
                    select.selectedIndex = i;
                    console.log(i, 'tutaj');
                }
            }
            console.log(role);
        });
    </script>
{% endblock %}
