{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'user.display.userList' |trans }}{% endblock %}

{% block body %}

    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>{{ 'user.display.userList'|trans }}</h2>
                            <a href="{{ path('user_new') }}">
                                <button class="btn btn-warning btn-block"><i class="icofont icofont-user-alt-3"></i>{{ 'global.add'|trans }}</button></a>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'user.fields.firstName' |trans }}</th>
                                    <th>{{ 'user.fields.lastName' |trans }}</th>
                                    <th>{{ 'user.fields.username' |trans }}</th>
                                    <th>{{ 'user.fields.email' |trans }}</th>
                                    <th>{{ 'user.fields.lastLogin' |trans }}</th>
                                    <th>{{ 'user.fields.roles' |trans }}</th>
                                    <th>{{ 'global.actions.actions' |trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.firstName }}</td>
                                            <td>{{ user.lastName }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>
                                                {% for role in user.roles %}
                                                    {{ role }}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <div class="btn-group dropdown-split-inverse">
                                                    <button type="button" class="btn btn-inverse dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">{{ 'global.actions.actions'|trans }}</span>
                                                        {{ 'global.actions.actions' |trans}}
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item waves-effect waves-light" href="{{ path('user_edit' , {'id':user.id}) }}">
                                                            <button class="btn btn-primary">{{ 'global.actions.edit'|trans }}</button>
                                                        </a>
                                                        <a class="dropdown-item waves-effect waves-light">{{ include('user/_delete_form.html.twig') }}</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
