{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ 'user.display.newUser' |trans }}
{% endblock %}

{% block body %}
    <div class="card-header">
        <h2>
            {% if type == 1 %}
                {{ 'user.display.newAdmin' |trans }}
            {% elseif type == 2 %}
                {{ 'user.display.newModerator' |trans }}
            {% else %}
                {{ 'user.display.newUser' |trans }}
            {% endif %}
        </h2>
    </div>
    <div class="card-body">{{ include('user/_form.html.twig') }}</div>
    <civ class="card-footer">
        <a href="{{ path('user_index') }}">
            <button class="btn btn-primary btn-block">{{ 'global.actions.backToList'|trans }}</button>
        </a>
    </civ>

{% endblock %}
