{% extends 'base.html.twig' %}

{% block title %}{{ 'user.display.newUser' |trans }}{% endblock %}

{% block body %}
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>{{ 'user.display.newUser' |trans }}</h2>
                    </div>
                        {{ include('user/_form.html.twig') }}
                    <p>
                        <a href="{{ path('user_index') }}"><button class="btn btn-primary btn-block">{{ 'global.actions.backToList'|trans }}</button></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
