{% for round in league.rounds %}
    {% for game in round.games if game.status == 3 or game.status == 2 %}
        {{ game.homeTeam }}
        {{ game.awayTeam }}
        <a href="{{ path('game_panel' , {'id':game.id , 'game':game}) }}" class="">Panel</a>
    {% else %}
        {{ 'global.noRecords' |trans }}
    {% endfor %}
{% else %}
    {{ 'global.noRecords' |trans }}
{% endfor %}