{% extends 'base_admin.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="card-header">
    <h1>Events</h1>
</div>


<div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>EventTime</th>
                <td>{{ event.eventTime ? event.eventTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="card-footer">
    <a href="{{ path('events_index') }}">back to list</a>
    <a href="{{ path('events_edit', {'id': event.id}) }}">edit</a>
    {{ include('events/_delete_form.html.twig') }}
</div>



{% endblock %}
