{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'footballer.display.edit' |trans}}{% endblock %}

{% block body %}
        <div class="card-header">
            <h2>{{ 'footballer.display.edit' |trans}}</h2>
        </div>
        
        <div class="card-body">{{ include('footballer/_form.html.twig') }}</div>
        
        <div class="card-footer">
            <a href="{{ path('club_show', {'id': footballer.club.id , 'league': footballer.club.league.id}) }}">
                <button class="btn btn-primary btn-block">{{ 'global.actions.backToList'|trans }}</button>
            </a>
        </div>
{% endblock %}
