{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'formation.display.edit' |trans}}{% endblock %}

{% block body %}
    <div class="card-header">
        <h2>{{ 'formation.display.edit'|trans }}</h2>
    </div>
    <div class="card-body">{{ include('dictionary/formation/_form.html.twig' , {'button_label': 'global.actions.edit' |trans}) }}</div>
    <div class="card-footer">
        <a href="{{ path('admin_dictionary')}}">
            <button class="btn btn-primary">{{ 'global.actions.backToList'|trans }}</button>
        </a>
    </div>
{% endblock %}
